:root {
    --accent: #a03030;
    --accent-glow: #b03030a0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #e0e0e0;
    font-family: "Arial", sans-serif;
}

body::before {
    content: "";
    position: fixed; /* This is the key change */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #101020 0%, #000810 100%);
    z-index: -1; /* Ensure it stays behind everything */
    pointer-events: none;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="4"/><feColorMatrix type="matrix" values="0 0 0 0 0.1 0 0 0 0 0.1 0 0 0 0 0.1 0 0 0 1 0"/></filter><rect width="100%" height="100%" filter="url(%23noiseFilter)" /></svg>');
    opacity: 0.1;
    pointer-events: none;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

h1 {
    font-size: min(3.5rem, 10vw);
    font-weight: 700;
    margin-bottom: 2rem;
}
h1 .highlight {
    color: var(--accent);
    text-shadow: 0 0 12px var(--accent-glow);
}
h1 .sub {
    opacity: 0.7;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

input[type="text"] {
    padding: 0 1.2rem;
    font-size: 1rem;
    height: 3rem;
    border: none;
    border-radius: 25px;
    background: #f0f0f020;
    color: #ffffff;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 4px #f0f0f020;
}

input[type="text"]::placeholder {
    color: #aaaaaa;
}

input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.circle-button {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background: var(--accent);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 10px 4px var(--accent-glow);
    flex-shrink: 0;
}

.circle-button i {
    font-size: 1.4rem;
}

.icons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

.icons i {
    font-size: 1.8rem;
    opacity: 0.7;
}

/* hello */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 5s linear infinite;
    font-size: 1.6rem;
    rotate: 30deg;
}

.display-inprogress {
    display: none;
}

.inprogress .display-inprogress {
    display: inline-block;
}

.display-ready {
    display: none;
}

.ready .display-ready {
    display: inline-block;
}
