@import "tailwindcss";

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@theme {
    --color-main-1: #040000;
    --color-main-3: #1a1818;
    --color-main-5: #343030;
    --color-main-6: #3e3636;
}

.card {
    @apply [&[data-state=download]>.download]:flex;
    @apply [&[data-state=in-progress]>.in-progress]:flex;
    @apply [&[data-state=request]>.request]:flex;
    @apply [&[data-state=complete]>.complete]:flex;
}

.spinner {
    animation: spin 5s linear infinite;
}
