img {
    width: 100%;
    border-radius: 20px;
    margin: 0 20px 20px;
}

a {
    color: white;
}

.download-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 16px;
    height: 3rem;
    margin-bottom: 16px;
    background-color: var(--accent);
    box-shadow: 0 0 10px 4px var(--accent-glow);
    border-radius: 100px;
    font-size: 1.2rem;
    align-self: flex-start;
}

.download-row.inprogress {
    background-color: #c08010;
    box-shadow: 0 0 10px 4px #c08010a0;
}

.download-row.ready {
    background-color: #108000;
    box-shadow: 0 0 10px 4px #108000a0;
}
